.todo{
    border: 1px solid black;
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    font-size: 20px;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 3%;
    border: none;
}
.checkbox{
    height: 30px;
    width: 30px;
    cursor: pointer;
}
.btn{
    font-size: 20px;
    padding: 5px 20px;
    background-color: teal;
    border: none;
    border-radius: 10px;
    color: white;
    cursor: pointer;
}
.input{
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.input_box{
    padding: 10px;
    border: none;
    font-size: 20px;
    margin-left: -2%;
    border-radius: 10px;
}
.input_btn{
    padding: 10px 20px;
    background-color: white;
    color: black;
    font-size: 25px;
    font-weight: bolder;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}
.striked{
    width: 100%;
    background-color: rgb(139, 249, 152);
}